In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("spacex_launch_dash.csv")
df.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                56 non-null     int64
 1   Flight Number             56 non-null     int64
 2   Launch Site               56 non-null     object
 3   class                     56 non-null     int64
 4   Payload Mass (kg)         56 non-null     float64
 5   Booster Version           56 non-null     object
 6   Booster Version Category  56 non-null     object
dtypes: float64(1), int64(3), object(3)
memory usage: 3.2+ KB